<?xml version="1.0" encoding="UTF-8"?>

<web-app id="hello-world-webapp" version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
	<display-name>Mnemosyne_Server</display-name>
	<servlet>
		<servlet-name>javax.ws.rs.core.Application</servlet-name>
	</servlet>
	<servlet>
		<servlet-name>auth</servlet-name>
		<servlet-class>ap.mnemosyne.servlets.AuthServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>register</servlet-name>
		<servlet-class>ap.mnemosyne.servlets.RegisterServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>rest-task</servlet-name>
		<servlet-class>ap.mnemosyne.rest.RestTask</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>parse</servlet-name>
		<servlet-class>ap.mnemosyne.servlets.ParseServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>hints</servlet-name>
		<servlet-class>ap.mnemosyne.servlets.HintsServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>javax.ws.rs.core.Application</servlet-name>
		<url-pattern>/rest/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>auth</servlet-name>
		<url-pattern>/auth</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>register</servlet-name>
		<url-pattern>/register</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>parse</servlet-name>
		<url-pattern>/parse</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>hints</servlet-name>
		<url-pattern>/hints</url-pattern>
	</servlet-mapping>

	<!--Filters-->
	<filter>
		<filter-name>ap.mnemosyne.session</filter-name>
		<filter-class>ap.mnemosyne.filters.SessionFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>ap.mnemosyne.session</filter-name>
		<url-pattern>/rest/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>ap.mnemosyne.session</filter-name>
		<url-pattern>/parse</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>ap.mnemosyne.session</filter-name>
		<url-pattern>/hints</url-pattern>
	</filter-mapping>

	<!--Listeners-->
	<listener>
		<listener-class>ap.mnemosyne.listeners.SessionListener</listener-class>
	</listener>

	<!--Resources-->
	<resource-ref>
		<description>Connection pool to the database</description>
		<res-ref-name>jdbc/mnemosyne</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>
</web-app>
